@{
    Layout = null;
}

    <div class="text-white float-right" id="authorization">

        @if (!User.Identity.IsAuthenticated)

        {
            @RenderPage("~/Pages/Partials/_AuthorizationForm.cshtml")
        }
        else
        {
            @RenderPage("~/Pages/Partials/_AuthorizationPersonal.cshtml")
        }
    </div>