@{
    Layout = null;
}


        <div class="float-right" id="signin">
            <form class="form-inline" action="~/Pages/ajax?action=signin" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#authorization" method="post">
                <div class="form-group  has-feedback">
                    <label class="sr-only sr-only-focusable" for="login">Логин</label>
                    <input type="text" class="form-control" name="login" id="login" placeholder="Логин"  pattern="[A-Za-z\-_0-9]{3,}" required>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="password">Пароль</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Пароль" pattern="[A-Za-z0-9]{6,}" required>
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>
            </form>
            <a href="~/Pages/Registration" class="float-right" id="registration">| Регистрация |</a>
        </div>
