@using DentalOffice.Entities;
@using DentalOffice.WebUI.Management;
@{
    Layout = null;
    int userId = 0;

    if (User.Identity.IsAuthenticated)
    {
        var adminMod = new AdministrationModule();

        User user = adminMod.GetUserByLogin(User.Identity.Name);
        if (user != null)
        {
            userId = user.ID;
        }
    }

}
<!-- A vertical navbar -->
<nav class="navbar bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="~/Pages/Admin/User?action=edit&userId=@userId">Личный кабинет</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Pages/Admin/RoleManagement">Управление ролями</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Pages/Admin/AllUsers">Пользователи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Pages/Admin/AllEmployees">Сотрудники</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Pages/Admin/AllPatients">Пациенты</a>
        </li>

    </ul>

</nav>