@{
    Layout = null;

    string phone = "8 (8452) 666-222";
    string email = "main@mystom.ru";
    string adress = "г. Саратов, ул. Зеленая, к. 18а";
}


<header class="header bg">
    <div class="row align-items-center">
        <div class="col-sm-4">
            <p class="h1 text-info">Моя стоматология</p>
        </div>
        <div class="col-sm-4">
            <p>Телефон: @phone</p>
            <p>E-mail: @email</p>
            <p>Адрес: @adress</p>
        </div>        
    </div>

    <h6></h6>
</header>
