@{
    Layout = null;
}
               <div class="form-group">
                    <label for="patientLastName">* Фамилия</label>
                    <input type="text" class="form-control" name="patientLastName" id="patientLastName" placeholder="Фамилия" required>
                </div>
               <div class="form-group">
                   <label for="patientFirstName">* Имя</label>
                   <input type="text" class="form-control" name="patientFirstName" id="patientFirstName" placeholder="Имя" required>
               </div>
               <div class="form-group">
                   <label for="patientMiddleName">Отчество</label>
                   <input type="text" class="form-control" name="patientMiddleName" id="patientMiddleName" placeholder="Отчество">
               </div>
               <div class="form-group">
                   <label for="patientPhone">*Телефон</label>
                   <input type="text" class="form-control" name="patientPhone" id="patientMiddlePhone" placeholder="Телефон" required>
               </div>
