@{
    Layout = null;
    string phonePattern = @"8\s?\d{3}\s?\d{7}";
}
<div class="form-group">
    <label for="patientLastName">* Фамилия: <span class="small text-secondary">(русский, английский алфавит; не короче 2 букв)</span></label>
    <input type="text" class="form-control" name="patientLastName" id="patientLastName" placeholder="Фамилия" pattern="[A-Za-zА-Яа-яЁё]{2,}" required>
</div>
<div class="form-group">
    <label for="patientFirstName">* Имя: <span class="small text-secondary">(русский, английский алфавит; не короче 2 букв)</span></label>
    <input type="text" class="form-control" name="patientFirstName" id="patientFirstName" placeholder="Имя" pattern="[A-Za-zА-Яа-яЁё]{2,}" required>
</div>
<div class="form-group">
    <label for="patientMiddleName">Отчество</label>
    <input type="text" class="form-control" name="patientMiddleName" id="patientMiddleName" max="50" pattern="[A-Za-zА-Яа-яЁё]*" placeholder="Отчество">
</div>
<div class="form-group">
    <label for="patientPhone">*Телефон (8 XXX XXXXXXX)</label>
    <input type="text" class="form-control" name="patientPhone" id="patientPhone" placeholder="8 999 9999999" pattern=@phonePattern required>
</div>
