@using DentalOffice.WebUI.Management;
@using DentalOffice.Entities;
@{
    Layout = null;

    RolesManagment rolManage = new RolesManagment();

    Int32.TryParse(PageData["roleID"], out int roleID);
    var role = rolManage.RoleLogic.GetById(roleID);

    var users = rolManage.GetUsersForRole(roleID, out string massege).OrderBy(us => us.Login);

}


    <h6 class="text-secondary text-center"> Здесь можно удалить пользователей для роли <strong>@role.Title</strong></h6>
    <ul class="list-group list-group-horizontal-sm">

        @foreach (var user in users)
        {
            <li class="list-group-item">@user.Login
        <a class="del btn btn-danger" href="~/Pages/Admin/User?action=deleteRole&userId=@user.ID&roleId=@role.ID&after=backRoles">X</a></li>
        }
    </ul>

    


