body {
    background-color: white;
}


/* HEADER */

header.bg {
    height: 100px;
    background: url("/Content/Images/header/head-bg.jpg") right center no-repeat;
    background-size: auto 140px;
}

header p {
    margin-bottom: 0.5rem;
    padding-left: 0.2rem;
    line-height: 1.5;
}

/* Horizontal menu */
#horizontal-menu {
    height: 50px;
}

    #horizontal-menu a {
        font-weight: bold;
        color: #cafaf2;
    }

        #horizontal-menu a:hover {
            color: white;
        }

/* Authorization */


#authorization, #authorization a {
    color: #cafaf2;
}

#signin input, #signin button {
    font-size: 13px;
}

/* Authorization ->  Form */

#signin input {
    height: 25px;
    width: 120px;
    margin: 10px 5px;
}

#signin button {
    height: 25px;
    width: 60px;
    padding: 0;
}

#registration {
    margin-top: -7px;
    padding: 0;
    font-size: 13px;
}

/* Authorization ->  Personal */

#personal p {
    margin: 2px 0;
    font-size: 15px;
}


/* Messages */
.error-message {
    min-height: 55px;
    padding: 3px;
    margin: 0;
    font-size: 13px;
}

/* Ajax */
#ajax-mess {
    position: absolute;
    right: 0;
    top: -60px;
}

/* Registration */

#reg_form > section {
    width: 95%;
    margin-left: 5%;
    padding: 10px;
    background-color: #eeede7;
    border-radius: 8px;
}


/* Roles */
#usersForRole {
    margin-top: 30px;
    background-color: #eeede7;
    padding: 5px;
    min-height: 200px;
}

    #usersForRole li {
        margin: 5px;
    }

 #usersForRole .del 
 {
     position: absolute;
     top: -3px;
     right: -3px;
     width: 20px;
     height: 20px;
     padding: 0;
     margin: 0;
     border-radius: 6px;
     line-height: 18px;
     color: white;
 }

#addUser
{

}