body{
    background-color: white;
}


/* HEADER */

header.bg {
    height: 100px;
    background: url("/Content/Images/header/head-bg.jpg") right center no-repeat;
    background-size: auto 140px;
}

header p {
    margin-bottom: 0.5rem;
    padding-left: 0.2rem;
    line-height: 1.5;
}

/* Horizontal menu */

#horizontal-menu a {
    font-weight: bold;
    color: #cafaf2;
}

#horizontal-menu a:hover{
    color: white;
}