@using DentalOffice.WebUI.Management;
@{
    Layout = null;

    AdministrationModule adminModule = new AdministrationModule();


    string message = "";
    string displayAttribute = "style=display:none";
    var page = RenderPage("~/Pages/Partials/_AuthorizationForm.cshtml");

    if (IsAjax)
    {
        string action = Request["action"];

        switch (action)
        {
            case "signin":

                bool authResult = adminModule.TryAuthenticateUser(Request, out message);

                if (authResult)
                {
                    Page.UserName = Request["login"];
                    page = RenderPage("~/Pages/Partials/_AuthorizationPersonal.cshtml");
                }
                else
                {
                    displayAttribute = "";
                }

                break;

            case "signout":

                FormsAuthentication.SignOut();
                page = RenderPage("~/Pages/Partials/_AuthorizationForm.cshtml");
                break;
        }
    }
    else
    {
        Response.Redirect("~");
    }
}

<div class="alert alert-danger error-message" role="alert" @displayAttribute>
    <strong>Ошибка:</strong> @message
</div>

@page