@using DentalOffice.WebUI.Management;
@using DentalOffice.Entities;
@{
    Layout = "~/Pages/Layouts/_MainLayout.cshtml";

    var adminMod = new AdministrationModule();
    var appManager = new AppointmentManager();
    Patient patient = null;

    if(IsPost)
    {
        patient = adminMod.GetNewPatientFromRequest(Request);
        patient = adminMod.AddPatient(patient);
        appManager.CreateRecordFromRequest(Request, null, patient);
        Response.Redirect("~/Pages/MakeAppointment");
    }
}

<h6 class=" my-3 offset-1">Для регистрации на прием необходимо заполнить данную форму:</h6>
<div class="col-md-6 offset-1">
    <form action="~/Pages/UnregisteredPatient?date=@Request["date"]&time=@Request["time"]" method="post">
        @RenderPage("~/Pages/Partials/_PatientInputs.cshtml")

        <button class="btn btn-primary w-100" type="submit">Отправить</button>
    </form>
</div>
