@using DentalOffice.WebUI.Log4net;
@{
    Layout = "~/Pages/Layouts/_MainLayout.cshtml";

}

    <div class="offset-1">
        <h2 class="text-dark text-center">Добро пожаловать на сайт стоматологического кабинета «Моя стоматология»!</h2>
        <div class="alert alert-secondary" role="alert">
            С 2000 года наш кабинет оказывает стоматологические услуги и рентген-диагностику. Оснащен современным оборудованием, новейшими материалами. Для вашего удобства имеется современный радиовизиограф с возможностью компьютерного моделирования и графической обработки данных, что позволяет проводить диагностику на высоком уровне.

            <p>Наши главные принципы:</p>
            <ul>
                <li>качество</li>
                <li>доступность</li>
                <li>профессионализм</li>
            </ul>
        </div>
    </div>