@using DentalOffice.WebUI.Management;
@using DentalOffice.Common;
@using DentalOffice.Entities;
@{
    Layout = "~/Pages/Layouts/_MainLayout.cshtml";

    var roleManage = new RolesManagment();
    var adminMod = new AdministrationModule();

    string action = Request["action"];
    int reqRoleId = 0;
    int reqUserId = 0;
    int activeRoleId = 0;

    string message = "";
    string errMessage = "";
    string displayAttr = "style=display:none";

    Int32.TryParse(Request["roleId"], out reqRoleId);
        Int32.TryParse(Request["userId"], out reqUserId);
    activeRoleId = reqRoleId;

    if (IsPost)
    {
        if (!roleManage.AddRole(Request, out errMessage))
        {
            displayAttr = "";
        }
    }
    else if (action == "addUser")
    {
        

        if (reqRoleId != 0 && reqUserId != 0)
        {
            
            User user = adminMod.GetUserById(reqUserId);
            Role role = roleManage.GetRoleFromRequest(Request, "roleId");
            user.Roles.Add(role);
            adminMod.UpdateUser(user);
        }
    }

    var roles = roleManage.GetRoles(out message) ?? new List<Role>();

    if ( activeRoleId==0 && roles.Count() > 0)
    {
        activeRoleId = roles.ElementAt(0).ID;
    }
}

@section AdditionalScripts
    {

    <script type="text/javascript">
       document.getElementById('@("role"+activeRoleId)').click();
    </script>
}

<div class="row">
    <div class="col-md-4">
        <h4 class="text-center m-2">Управление ролями: </h4>
        <table class="table">
            <tbody>
                @foreach (var role in roles)
                {
                    <tr>
                        <td>
                            <a href="~/Pages/Admin/Confirmation?action=delete&entity=role&id=@role.ID" title="Удалить">
                                <img class="w-25" src="~/Content/images/delete.svg">
                            </a>
                        </td>
                        <text>&#8195;</text>
                        <td>
                            <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#usersForRole" id=@("role"+@role.ID) href="~/Pages/ajax?action=usersForRole&roleId=@role.ID">
                            @role.Title
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <form class="  mt-4" action="~/Pages/Admin/RoleManagement" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="Название">
            </div>
            <button type="submit" class="btn btn-primary m-lg-2">Создать роль</button>
        </form>
        <div class="alert alert-danger " role="alert" @displayAttr>
            <strong>Ошибка:</strong> @errMessage
        </div>
    </div>
    <div class="col-sm-8">

        <h5 class=" text-dark text-center mt-3">Редактирование пользователей</h5>

        <div id="usersForRole"> <!-- for ajax --> </div>
        
    </div>



</div>