@using DentalOffice.WebUI.Management;
@using DentalOffice.Common;
@using DentalOffice.Entities;
@{
    Layout = "~/Pages/Layouts/_MainLayout.cshtml";

    RolesManagment roleManage = new RolesManagment();
    string message = "";
    string errMessage = "";
    string displayAttr = "style=display:none";
    int counter = 1;

    if (IsPost)
    {
        if (!roleManage.AddRole(Request, out errMessage))
        {
            displayAttr = "";
        }
    }

    var roles = roleManage.GetRoles(out message) ?? new List<Role>();
}

@section AdditionalScripts
    {

    <script type="text/javascript">
       document.getElementById('role1').click();
    </script>
}

<div class="row">
    <div class="col-md-4">
        <h4 class="text-center m-2">Управление ролями: </h4>
        <table class="table">
            <tbody>
                @foreach (var role in roles)
                {
                    <tr>
                        <td>
                            <a href="~/Pages/Admin/Confirmation?action=delete&entity=role&id=@role.ID" title="Удалить">
                                <img class="w-25" src="~/Content/images/delete.svg">
                            </a>
                        </td>
                        <text>&#8195;</text>
                        <td>
                            <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#usersForRole" id=@("role"+@counter++)  href="~/Pages/ajax?action=usersForRole&roleId=@role.ID">@role.Title</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <form class="  mt-4" action="~/Pages/Admin/RoleManagement" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="Название">
            </div>
            <button type="submit" class="btn btn-primary m-lg-2">Создать роль</button>
        </form>
        <div class="alert alert-danger " role="alert" @displayAttr>
            <strong>Ошибка:</strong> @errMessage
        </div>
    </div>
    <div class="col-md-8">
        <h5 class=" text-dark text-center mt-3">Редактирование пользователей</h5>
        
        <div id="usersForRole">
            <!-- for ajax -->
            
        </div>
        <a href="~/Pages/Admin/AllUsers?action=addRole&id=roleId" class="" id="addUser">Добавить пользователя +</a>
    </div>



</div>